body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 0;

    padding: 0;

    /* background-color: #9D9E87; */
    background-color: black;

}

a {
    text-decoration: none;

}

li {

    list-style: none;

}

/* NAVBAR STYLING STARTS */

.navbar {

    top: 0;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 20px;

    background-color: whitesmoke;

    color: black;

    position: fixed;

    width: 100%;

    z-index: 10;

}

.nav-links a {
    color: black;
    height: 100%;
}

.main {
    padding: 16px;

}

/* LOGO */

.logo {

    font-size: 32px;
    cursor: pointer;

}

/* NAVBAR MENU */

.menu {

    display: flex;

    gap: 1em;

    font-size: 18px;

}

.menu li:hover {

    background-color: #747878;

    transition: 0.3s ease;

}

.menu li {
    padding: 5px 14px;
}


/* MENU MENU */

.menu-2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-2 a {
    background: #FFC107;
    width: 50px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    color: black;
    cursor: pointer;
    border-radius: 15%;
}

.menu-2 a:hover {
    background: #f7e2a3;
}


/* CHECKBOX HACK */

input[type=checkbox] {

    display: none;

}

/*HAMBURGER MENU*/

.hamburger {

    display: none;

    font-size: 24px;

    user-select: none;

}

/* APPLYING MEDIA QUERIES */

@media (min-width: 768px) {

    .menu {
        display: flex !important;
    }

}

@media (max-width: 768px) {

    .menu {

        display: none;

        position: absolute;

        background-color: teal;

        right: 0;

        left: 0;

        text-align: center;

        padding: 16px 0;

    }

    .menu li:hover {

        display: inline-block;

        background-color: #4c9e9e;

        transition: 0.3s ease;

    }

    .menu li+li {

        margin-top: 12px;

    }

    input[type=checkbox]:checked~.menu {

        display: block;

    }

    .hamburger {

        display: block;

    }

    .dropdown {

        left: 50%;

        top: 30px;

        transform: translateX(35%);

    }

    .dropdown li:hover {

        background-color: #4c9e9e;

    }

}


.s {
    margin-top: 15px;
}

html {
    scroll-behavior: smooth;
}

/* IMAGEN LOGO */



#sample {
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.logo2 {
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    height: 550px;
    align-items: center;
    margin-top: 77px;
    background: url(../images/banner5.png)fixed no-repeat left top;


}

#sample {
    animation: rotation 10.5s linear 0s infinite;
    animation-play-state: paused;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}


#OpcionInicio {
    background-color: black;
    height: 1000px;
    width: 100%;
}


#Opcion1 {
    background-color: black;
    height: 500px;
    width: 100%;
}

p {
    color: white;
}

#Opcion2 {
    background-color: black;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: yellow;
    margin-left: 15px;

}

h2 {
    text-align: center;
    color: whitesmoke;
    padding-top: 15px;
}


/* CONTACT US */

.contact_us_6 * {
    font-family: Nunito, sans-serif;
}

.contact_us_6 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
    min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.contact_us_6 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.contact_us_6 .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #03a9f4;
    position: absolute;
    height: 950px;
    right: 0px;
}

.contact_us_6 .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
    background-color: white;
    max-width: 450px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
}

.contact_us_6 .text-blk.contactus-subhead {
    color: #9c9c9c;
    width: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: none;
}

.contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
}

.contact_us_6 .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
}

.contact_us_6 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
}

.contact_us_6 .submit-btn {
    width: 98%;
    background-color: #03a9f4;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.contact_us_6 .form-box {
    z-index: 2;
    margin-top: 0px;
    margin-right: 48px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
}

.contact_us_6 ::placeholder {
    color: #dadada;
}

.contact_us_6 .mob-text {
    display: block;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
    color: white;
}

.contact_us_6 .map-box {
    max-width: 800px;
    max-height: 520px;
    width: 100%;
    height: 520px;
    /*background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");*/
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.contact_us_6 .map-part {
    width: 100%;
    height: 100%;
}

.contact_us_6 .text-blk.map-contactus-head {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: black;
}

.contact_us_6 .text-blk.map-contactus-subhead {
    max-width: 300px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contact_us_6 .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
}

.contact_us_6 .link-img {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .social-icon-link {
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
}

@media (max-width: 1274px) {
    #OpcionInicio {
        height: 2000px;
    }
}

@media (max-width: 1024px) {

    .contact_us_6 .responsive-container-block.container {
        justify-content: center;
    }

    .contact_us_6 .map-box {
        position: absolute;
        top: 0px;
        max-height: 320px;
    }

    .contact_us_6 .map-box {
        max-width: 100%;
        width: 100%;
    }

    .contact_us_6 .responsive-container-block.container {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .map-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .mob-text {
        display: block;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 60px;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    .contact_us_6 .link-img {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    .contact_us_6 .social-media-links.mob {
        justify-content: space-evenly;
    }

    .contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .contact_us_6 .text-blk.contactus-subhead {
        display: block;
    }

    .contact_us_6 .mob-text {
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-container-block.container {
        flex-wrap: wrap;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .contact_us_6 .submit-btn {
        width: 100%;
    }

    .contact_us_6 .input {
        width: 100%;
    }

    .contact_us_6 .textinput {
        width: 100%;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 80px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.input-title {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .form-box {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .contact_us_6 .container-block.form-wrapper {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact_us_6 .mob-text {
        display: block;
    }

    .contact_us_6 .responsive-container-block.container {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 220px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 220px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.contactus-head {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .contact_us_6 .container-block.form-wrapper {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-container-block {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 35px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.input-title {
        font-size: 12px;
    }

    .contact_us_6 .text-blk.contactus-head {
        font-size: 26px;
        line-height: 35px;
    }

    .contact_us_6 .input {
        height: 45px;
    }
}

/*                             */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}


/* .........../Food Menu/............ */

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #666;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px 30px 15px;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto 1.5rem;
}

.font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
}

.food-description p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price {
    color: #117964;
    font-weight: 700;
}


.nosotros {
    display: flex;
}

/* .imagenes{
    clip-path: polygon(100% 0%, 100% 70%, 50% 90%, 50% 90%, 0 70%, 0 0);
} */

.nosotros .imagenes {
    display: flex;

}

/* .cimagenes{
    display: flex;
}

.cimagenes img{
    width: 45px;
    height: 45px;
} */

.nosotros .imagenes img {
    margin: 5px;
    width: 450px;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-size: cover;
}

.container-gallery {
    padding: 65px;
}

.galleria {
    display: flex;
    justify-content: center;
}

.galleria img {
    width: 200px;
    margin: 5px;
}

.galleria img:hover {
    width: 400px;
    transition: 2s;
}

#img-1 {
    margin-left: 5px;
}

#img-2 {
    margin-right: 5px;
}

.info-about {
    margin-top: 150px;
}

p {
    margin: 25px;
}


/* GALLERY */

@media (max-width: 578px) {
    #OpcionInicio {
        height: 2200px;
    }
}

@media (max-width: 376px) {
    .food-img img {
        width: 100px;
        height: 100px;
    }

    .food-description h2 {
        font-size: 20px;
    }

    .food-description p {
        font-size: 20px;
    }

    .logo2 {
        background: url(../images/hamburguerremove.png) center fixed no-repeat;
        background-size: cover contain;
        width: 100% !important;
        margin-top: 15px;
    }

    #sample {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: -80px;
        margin-bottom: 50px;
        margin-left: 55px;
    }



    #OpcionInicio {
        height: 1800px;
    }

    #Opcion2 {
        height: 2400px;
        display: flex;
        justify-content: center;
    }


    .container-in img {
        width: 250px;
    }

    .container-in {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
    }

    .info-about {
        margin-top: 0;
    }

    #play{
        width: 100px;
        height: 100px;
    }

    video{
        width: 290px !important;
        height: 150px !important;
    }

    .swal2-popup{
        max-height: 20em !important;
    }


}



@media (max-width: 415px) {
    .food-img img {
        width: 100px;
        height: 100px;
    }

    .food-description h2 {
        font-size: 20px;
    }

    .food-description p {
        font-size: 20px;
    }

    .logo2 {
        background: url(../images/hamburguerremove.png) center fixed no-repeat;
        background-size: cover contain;
        width: 100% !important;
    }

    #sample {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: -80px;
        margin-bottom: 50px;
        margin-left: 55px;
    }


    #OpcionInicio {
        height: 2150px;
    }

    #Opcion2 {
        height: 2500px;
    }

    .info-about {
        margin-top: 0;
    }

    video{
        width: 290px !important;
        height: 150px !important;
    }

    .swal2-popup{
        max-height: 20em !important;
    }


}



@media (max-width: 361px) {
    .food-img img {
        width: 90px;
        height: 90px;
    }

    .food-description h2 {
        font-size: 20px;
    }

    .food-description p {
        font-size: 20px;
    }

    #OpcionInicio {
        height: 2300px;
    }

    #Opcion2 {
        height: 2400px;
    }

}


@media (max-width: 482px) {

    .logo2 img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 25px;
    }
}

@media (max-width: 1286px) {
    .logo2 {
        width: 100px;
    }

    .nosotros .imagenes {
        display: flex;
        justify-content: center;
    }

    #img-1,
    #img-2 {
        width: 150px !important;
        height: 150px !important;
        padding-top: 25px;
    }

    .nosotros {
        display: block;
    }

    .info-about p {
        text-align: center;
    }
}

@media (max-width: 658px) {
    .map-box {
        max-width: 300px;
    }

    iframe {
        max-width: 300px;
    }
}

@media (max-width: 512px) {

    #img-1,
    #img-2 {
        width: 100px;
        height: 100px;
        padding-top: 25px;
    }

    #Opcion1 {
        height: 300px;
    }
}

@media (max-width: 512px) {
    #Opcion1 {
        height: 370px;
    }
}

/* GALLERY */

/* .container-all h2{
    margin-bottom: 35px;
}

.container-all {
    width: fit-content;
    margin: 20px auto;
    height: auto;
}

.container-in {
    width: calc(33% - 6px);
    overflow: hidden;
    height: fit-content;
    margin: 3px;
    padding: 0;
    display: block;
    position: relative;
    float: left;
}

.imagen {
    width: 500px;
    transition-duration: .3s;
    max-width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
}

.title {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 35%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.6em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
}

.text {
    position: absolute;
    top: 70%;
    cursor: pointer;
    max-width: 80%;
    text-align: center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 1em;
    display: none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%)
}

.container-in:hover img {
    transform: scale(1.2);
    transition-duration: .3s;
    filter: grayscale(50%);
    opacity: .7;
}

.container-in:hover span {
    color: white;
    display: block;
    transition-duration: .3s;
}

@media only screen and (max-width: 900px) {
    .container-in {
        width: calc(50% - 6px);
    }
}

@media only screen and (max-width: 415px) {
    .container-in {
        width: 100%;
    }

    #Opcion2 {
        height: 1500px;
        display: flex;
        justify-content: center;
    }

    .container-in img {
        width: 250px;
    }

    .container-in {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
    }

} */



.album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0 0 0 0;
    justify-content: space-between;
}

.album .img {
    width: 100%;
    margin: 0 0 20px 0;
}

.album #i9rb {
    color: black;
}

.album #ir6i {
    color: black;
}

.album #ikz3b {
    color: black;
}

.album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0 0 0 0;
    height: 100%;
}

.album #ipix {
    color: black;
}

.album #ipzoh {
    color: black;
}

.album #ig5q8 {
    color: black;
}

.album #imtzl {
    color: black;
}

.album #i53es {
    color: black;
}

.album .img.img-big {
    height: 50%;
    margin: 0 0 16px 0;
}

@media (max-width: 1024px) {
    .album .img {
        margin: 0 0 18px 0;
    }
}

@media (max-width: 768px) {
    .album .img {
        max-width: 32.5%;
        margin: 0 0 0 0;
    }

    .album .responsive-container-block.bg {
        flex-direction: column;
    }

    .album .responsive-container-block.img-cont {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .album .img.img-big {
        max-width: 49%;
        margin: 0 0 0 0;
    }
}

@media (max-width: 500px) {
    .album .img {
        max-width: 94%;
        margin: 0 0 25px 0;
    }

    .album .responsive-container-block.img-cont {
        flex-direction: column;
        align-items: center;
        padding: 10px 10px 10px 10px;
    }

    .album .img.img-big {
        max-width: 94%;
        margin: 0 0 25px 0;
    }

    .album .img.img-last {
        margin: 0 0 5px 0;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}

/* BUTTON PLAY */

svg#play {
    width: 200px;
    margin: 120px auto;
    display: block;
    cursor: pointer;
    transform-origin: 50% 50%;
}

svg#play #triangle {
    fill: rgba(22, 22, 22, 0);
    transition: 500ms;
    transform-origin: 50% 50%;
}

svg#play:hover #triangle {
    fill: #A3CD3A;
    transform-origin: 50% 50%;
}

svg #lineOne,
svg #lineTwo {
    transform-origin: 50% 50%;
    transition: 1s;
}

svg:hover #lineOne {
    transform: rotate(260deg);
    -webkit-transform: rotate(260deg);
    -moz-transform: rotate(260deg);
    -o-transform: rotate(260deg);
    transform-origin: 50% 50%;
}

svg:hover #lineTwo {
    transform: rotate(-450deg);
    transform-origin: 50% 50%;
}

/* VIDEO */

.swal2-popup{
    width: 52em !important;
    height: 45em !important;
}

